<a href="https://colab.research.google.com/github/sefat22/Micro-Credential-22/blob/main/Basics_Part_Deri_ipynb%2C_Day_3%2C_6_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Python part 3 

#### Conditions and loops

##Conditionals 

#IF...ELIF....Else Statements!!!

In [ ]:
"""
if(condition):
  do something 
  """

'\nif(condition):\n  do something \n  '

In [ ]:
if 3 > 2:
  print("Right") #prints out the quote if the condition meets

Right

In [ ]:
if 4 > 7:
  print("Right")
else:
  print("Wrong")

Wrong

In [ ]:
a = 3
b = 5
if a > b:
  print("Yes, it is right!!!")
else:
  print("Try again")

Try again

In [ ]:
drink = "Tea"

if drink == "Coffee":
    print("Humanity runs on coffee")
else: 
    print("Where there is tea, there is hope!!!")

Where there is tea, there is hope!!!

In [ ]:
 drink = "Coke"

if drink == "Coffee":
    print("Humanity runs on coffee")
elif drink == "Water":
    print("Water is the soul of Earth!")
elif drink == "Coke":
    print("Coke is the new fuel for the programmer!")
else:
    print("Where there is tea, there is hope!")

Coke is the new fuel for the programmer!

#Loops !!

For loop

In [ ]:
"""For iterator in array:
do smth 
"""

In [ ]:
my_list = [1, 2,3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in my_list:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in my_list: #Even numbers
  if i % 2 == 0:
   print(i)

2
4
6
8
10

In [ ]:
for i in my_list: #Odd numbers 
  if i % 2 != 0:
   print(i)

1
3
5
7
9

In [ ]:
my_list = [1,2,3,4,5, 45, 6, 34, 980]
list_sum = 0 

for num in my_list:
  list_sum = list_sum + num 
  print(list_sum)

1
3
6
10
15
60
66
100
1080

In [ ]:
my_string = "hello world"

for x in my_string:
    print(x)

h
e
l
l
o

w
o
r
l
d

In [ ]:
my_list = [(1,2), (3,4), (5,6)]
len(my_list)

3

In [ ]:
for tup in my_list:
  print(tup)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
for a, b in my_list:
  print(a,b)

1 2
3 4
5 6

In [ ]:
for a, b in my_list:
  print(a)

1
3
5

In [ ]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [ ]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [ ]:
for i in my_dict:
  print(i)

k1
k2
k3

In [ ]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [ ]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
for a,b in my_dict.items():
  print(b)

1
2
3

In [ ]:
#how to define a for loop
#for loop with 
#list 
#string 
#tuple 
#Dictionary

##While Loops !

In [ ]:
i = 0 

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
i = 0 

while i < 5:
  print(i)
  i = i + 1 
else:
  print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [ ]:
i = 10 

while i < 5:
  print(i)
  i = i + 1 
else:
  print("i is not less than 5") #the condition does not run

i is not less than 5

###Pass, Break, Continue

In [ ]:
l = [1,2,3,4,5]

for items in l:
  #comment 
  pass 
  print( "i will work after !!!") #.   ...............................................................

i will work after !!!
i will work after !!!
i will work after !!!
i will work after !!!
i will work after !!!

In [ ]:
my_string = "Hello world"

for letters in my_string:
  if letters == "r":
    break
    print(letters)

In [ ]:
i = 0 
while i < 5:
  if i == 3:
    break 
    print(i)
    i = i + 1

KeyboardInterrupt: ignored

##Most used built - in functions in Python

####1) Range Function

In [ ]:
for num in range (10): #initialize the beginning, or starts form 0 
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range (3, 10): #initialize the beginning, or starts form 0 
  print(num)

3
4
5
6
7
8
9

In [ ]:
for num in range (0, 11, 2):
  print(num)

0
2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
range (10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###2) Enumerate 

####It gives us an index count and object itself

In [ ]:
for items in enumerate(word):
 print()

###3)Zip

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ["a", "b", "c", "d", "e"]
list3 = ["a", "b", "d"]

In [ ]:
list4 = zip(list1, list2):
 
  print(items)

SyntaxError: ignored